<!--The content below is only a placeholder and can be replaced.-->
<div class="container pt-5">
	<div class="card">
		<div class="card-body">
			<h1 class="text-center">
				Welcome to {{ title }}!
			</h1>
		</div>
	</div>

	<div class="my-4 col-md-12">
		<h2 class="mx-auto">Here is the observable example: </h2>
	</div>

	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col-md-4">
					<label>Value: </label>
				</div>
				<div class="col-md-4">
					<input type="text" name="valor" id="valor" [(ngModel)]="valorcito">
				</div>

				<div class="col-md-4">
					<button (click)="hagamosle()" class="btn btn-primary">Test</button>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="card">
		<div class="card-body">
			<app-hijo></app-hijo>
		</div>
	</div>
</div>